<section class="login-sesction">
  <div class="card form-card">
    <div class="card-body">
      <h4 class="text-center">后台管理</h4>
      <h6>请登录：</h6>
      <div class="form-box">
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user"></i>
              </span>
            </div>
            <input type="text" name="username" #username class="form-control" (key.enter)="login()">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock"></i>
              </span>
            </div>
            <input type="password" name="password" #password class="form-control" (key.enter)="login()">
          </div>
          <div class="form-group btn-group">
            <button type="button" class="btn btn-secondary">忘记密码</button>
            <button type="button" class="btn btn-primary" (click)="login(username.value,password.value)">登录</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card info-card d-none d-lg-block">
    <div class="card-body">
      <h2 class="text-center">欢迎登录！</h2>
      <h5>
        <i class="fa fa-smile-o"></i>
        <i class="fa fa-smile-o"></i>
        <i class="fa fa-smile-o"></i>
        <i class="fa fa-smile-o"></i>
      </h5>
    </div>
  </div>
</section>