<div class="slide-wrapper" [style.marginLeft.px]="navFlag ? 0 :-260">
    <div class="logo-box">
        <h5>
            <a href="/admin">Building hc</a>
        </h5>
        <div class="slide-btn" (click)="toggleNav()">
            <i class="fa fa-angle-double-right"></i>
        </div>
    </div>
    <hr>
    <div class="menu-box">
        <ul>
            <li class="app-main-nav-item" title="test" link="test" icon="fa fa-dashboard"></li>
            <li class="app-main-nav-item" title="test" link="test2" icon="fa fa-dashboard"></li>
            <li class="app-main-nav-item" title="test" link="test3" icon="fa fa-dashboard"></li>
        </ul>
    </div>
</div>