.tool-bar-container {
    .tool-box {
        height: 35px;
        text-align: right;
        padding: 0 20px;
        .user-box {
            display: inline-block;
            vertical-align: middle;
            line-height: 35px;
            height: 35px;
            white-space: nowrap;
            span {
                display: inline-block;
                vertical-align: middle;
                line-height: 35px;
                cursor: pointer;
                clear: both;
                position: static;
                i {
                    position: static;
                    clear: both;
                    &::before {
                        position: static;
                    }
                    &:hover {
                        color: #9c27b0;
                    }
                }
            }
            span:first-child {
                font-size: 25px;
                transition: color 0.5s ease;
            }
            span:last-child {
                font-size: 18px;
                overflow: hidden;
                margin: 0 5px;
                white-space: nowrap;
                transition: width 1s ease;
                i {
                    margin: 0 2px;
                    a {
                        font-size: inherit;
                        color: inherit;
                        text-decoration-line: none;
                    }
                }
            }
            .list-active {
                color: #9c27b0;
            }
        }
    }
}